/Client/Client.pro
/Client/Client.pro.user
/Server/Server.pro
/TestProtei.pro
/TestProtei.pro.user
/build/Debug/Client/Client
/build/Debug/Client/Client.o
/build/Debug/Client/ClientConnection.o
/build/Debug/Client/Connection.o
/build/Debug/Client/Makefile
/build/Debug/Client/Message.o
/build/Debug/Client/main.o
/build/Debug/Makefile
/build/Debug/Server/Connection.o
/build/Debug/Server/Makefile
/build/Debug/Server/Message.o
/build/Debug/Server/Server
/build/Debug/Server/Server.o
/build/Debug/Server/ServerConnection.o
/build/Debug/Server/main.o
/Server/Server.pro.user
/Server/build/Debug/Connection.o
/Server/build/Debug/Makefile
/Server/build/Debug/Message.o
/Server/build/Debug/Server
/Server/build/Debug/Server.o
/Server/build/Debug/ServerConnection.o
/Server/build/Debug/main.o
/Client/build/Debug/Makefile
/Client/build/Debug/Client
/Client/build/Debug/Client.o
/Client/build/Debug/ClientConnection.o
/Client/build/Debug/Connection.o
/Client/build/Debug/Message.o
/Client/build/Debug/main.o
